extends layout

block content
    h1 Add a genre
    form.form(action="/genres" method="POST")
        label(for="genre") Genre: 
        input#genre(type="text" name="genre" required)



        button(type="submit") Add Genre